.container {
  height: 100%;
  /* background: white; */
  background: linear-gradient(#56088b, #023C77);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 25rem;
  margin: auto;
  /* background-color: rgba(203, 35, 215, 0.752); */
  background-color: white;
  padding: 4rem 1rem;
  border-radius: 1rem;
}

.logo {
  filter: invert(11%) sepia(82%) saturate(7054%) hue-rotate(278deg) brightness(58%) contrast(103%);
}

h1 {
  width: 100%;
  text-align: center;
}

img {
  height: 10rem;
  width: 100%;
  margin: 1.5rem auto 1.5rem auto;
}

.full-width {
  width: 100%;
}

button {
  margin-top: 1.5rem;
  background-color: #6C09AD;
}

span {
  color: white;
}

mat-icon {
  opacity: 0.6;
}
